<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>  
        <h1>
            Just playing With
        </h1>
        <ul>
            <%for(let i=0;i<10;i++){%>
                <li>  <%=i%></li>
                <%}%>
        </ul>
    </body>
</html>